*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
body{
	background: #006600;
}
.logo{
	width: 30vw;
	position: absolute;
	top: 3%;
	left: 9%;
	color: #ffffff;
	font-size: 72px;
	font-family: 'Roboto', sans-serif;
    font-style: italic;
}
.date{
	width: 100vw;
	position: absolute;
	top: 20%;
	left: 18%;
	transform: translate(-50%,-50%);
	display: flex;
	align-items: flex-end;
	justify-content: center;
	z-index: 10;
	color: #ffffff;
	font-size: 12px;
	font-family: "Times New Roman", Times, serif;
}
.registerButton{
    width: 10vw;
    height: 3vw;
    top: 9%;
	left: 84%;
	background: #ffff00;
    color: #000000;
    font-size: 18px;
	font-family: "Arial", Arial, serif;
    position: absolute;
    font-weight: bold;
}
.registerButton:hover{
	background: #ffffff;
	color: #006600;
}
.loginButton{
    width: 10vw;
    height: 3vw;
    top: 3%;
	left: 84%;
	background: #ffff00;
    color: #000000;
    font-size: 18px;
	font-family: "Arial", Arial, serif;
    position: absolute;
    font-weight: bold;
}
.loginButton:hover{
	background: #ffffff;
	color: #006600;
}
.scoresButton{
    width: 10vw;
    height: 3vw;
    top: 33%;
	left: 84%;
	background: #ffff00;
    color: #000000;
    font-size: 18px;
	font-family: "Arial", Arial, serif;
    position: absolute;
    font-weight: bold;

}
.scoresButton:hover{
	background: #ffffff;
	color: #006600;
}
.newestNews{
	width: 100vw;
	position: absolute;
	top: 53%;
	left: 9%;
	color: #ffffff;
	font-size: 32px;
	font-family: "Arial", Times, serif;
}
.note{
	width: 100vw;
	position: absolute;
	top: 73%;
	left: 18%;
	color: #ffffff;
	font-size: 32px;
	font-family: "Arial", Times, serif;
}
.fbImg{
	width: 3vw;
    height: 3vw;
	position: absolute;
	top: 4%;
	left: 69.5%;
}
.twImg{
	width: 3vw;
    height: 3vw;
	position: absolute;
	top: 4%;
	left: 74.3%;
}
.insImg{
	width: 3vw;
    height: 3vw;
	position: absolute;
	top: 4%;
	left: 79%;
}


