*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
body{
	background: #006600;
}
.logo{
	width: 30vw;
	position: absolute;
	top: 3%;
	left: 9%;
	color: #ffffff;
	font-size: 72px;
	font-family: 'Roboto', sans-serif;
    font-style: italic;
}
.date{
	width: 100vw;
	position: absolute;
	top: 20%;
	left: 18.4%;
	transform: translate(-50%,-50%);
	display: flex;
	align-items: flex-end;
	justify-content: center;
	z-index: 10;
	color: #ffffff;
	font-size: 12px;
	font-family: "Times New Roman", Times, serif;
}
.registerButton{
    width: 10vw;
    height: 3vw;
    top: 9%;
	left: 84%;
	background: #ffff00;
    color: #000000;
    font-size: 18px;
	font-family: "Arial", Arial, serif;
    position: absolute;
    font-weight: bold;
}
.registerButton:hover{
	background: #ffffff;
	color: #006600;
}
.loginButton{
    width: 10vw;
    height: 3vw;
    top: 3%;
	left: 84%;
	background: #ffff00;
    color: #000000;
    font-size: 18px;
	font-family: "Arial", Arial, serif;
    position: absolute;
    font-weight: bold;
}
.loginButton:hover{
	background: #ffffff;
	color: #006600;
}
.scoresButton{
    width: 10vw;
    height: 3vw;
    top: 29.5%;
	left: 84%;
	background: #ffff00;
    color: #000000;
    font-size: 18px;
	font-family: "Arial", Arial, serif;
    position: absolute;
    font-weight: bold;

}
.scoresButton:hover{
	background: #ffffff;
	color: #006600;
}
.newestNews{
	width: 100vw;
	position: absolute;
	top: 63%;
	left: 9%;
	color: #ffffff;
	font-size: 32px;
	font-family: "Arial", Times, serif;
}
.note{
	width: 100vw;
	position: absolute;
	top: 73%;
	left: 18%;
	color: #ffffff;
	font-size: 32px;
	font-family: "Arial", Times, serif;
}
.fbImg{
	width: 3vw;
    height: 3vw;
	position: absolute;
	top: 4%;
	left: 69.5%;
}
.twImg{
	width: 3vw;
    height: 3vw;
	position: absolute;
	top: 4%;
	left: 74.3%;
}
.insImg{
	width: 3vw;
    height: 3vw;
	position: absolute;
	top: 4%;
	left: 79%;
}
.newestMatches{
	color:#ffffff;
	columns: 5;
	padding-left: 140px;
	padding-top: 210px;
	width: 1200px;
	
}
.matchdate{
	font-weight: bold;
}
.team{
	font-weight:normal;
}
.newestArticles{
	position: absolute;
	color:#ffffff;
	top: 510px;
	left: 140px;
	width: 300px;
}
.articleDate{
	color:#ffff00;
}
.score{
	color:#ffff00;
	font-weight: bold;
	text-align: right;
}
.fbImg:hover{
	opacity: 0.7;
}
.twImg:hover{
	opacity: 0.7;
}
.insImg:hover{
	opacity: 0.7;
}
.mainTitle{
	background-color: #ffff00;
	color:#006600;
	font-size: 64px;
	font-weight: bold;
	position: absolute;
	top: 309px;
	text-align: center;
}  
.quote{
	position: absolute;
	top:120%;
	left:9%;
}
.q{
	color:#ffff00;
	font-style: italic;
	text-align: center;
	font-size: 48px;
	width: 1290px;
}
.des{
	position: absolute;
	color:#ffffff;
	font-weight: bold;
	font-size: 20px;
	right: 1%;
}